@import '_variables';
@import '_styles';

* {
  font-family: 'Arial, sans-serif';
}

#home {
  // border: 1px solid $primary;
  display: grid;
  grid-template-areas: "graphContainer graphContainer graphContainer watchlist"
                       "graphContainer graphContainer graphContainer watchlist"
                       "metricContainer metricContainer metricContainer watchlist";
  
  min-height: 90vh;
  min-width: 90vw;
  margin: 2%;
}
